
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
}



.home-page {
    background-color: #D9D9D9;
    min-height: 100vh;
}

.header {
  background-color: #1a1a1a;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.section-title {
  text-align:right;
  padding-right: 60%;
  margin: 6rem 0 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.category-list {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 1rem;
  color: black;
}

.category-card {
  background: white;
  display:flex;
  align-items:center;
  padding: 1rem;
  border-radius: 12px;
  justify-content: space-between;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.category-card:hover {
  background-color: #eeeeee;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
}


.arrow {
  font-size: 1.4rem;
}

